@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d7f8b2;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #b3de81;
}

body::-webkit-scrollbar-thumb {
  background-color: #68a225;
  border-radius: 10px;
}

.bg-image {
  position: relative;
  background-image: url("/img/bg1.png");
  background-size: cover;
  background-position: top;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-image1 {
  position: relative;
  background-image: url("/img/bg-image.png");
  background-size: cover;
  background-position: top;
}

.bg-image1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
